body{
    background-color: rgb(0, 67, 143);
    color: white;
}
.loginBox{
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 500px;
    background-color: rgb(13, 130, 207);
    border-radius: 10px;
    padding: 10px;
    box-shadow: -15px 0px 50px rgb(15, 0, 155);
}

.dashboard{
    position: relative;
    background-color: bisque;
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.vertical-bar{
    position: relative;
    display: inline-block;
    background-color: black;
    margin: 0px;
    left: -1%;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 20%;
    color: white;
}

.logout{
    margin-left: 30px;
    margin-bottom: 50px;
}

.dashBody{
    background-color: white;
    padding: 60px;
    height: 100%;
    width: 100%;
}

.btnbox{
    margin-top: 10px;
}

.options{
    position: relative;
    padding: 20px;
    top: 100px;
    background-color: bisque;
    height: 50%;
    font-size: 20px;
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(250, 171, 0);
}


.orderbox{
    position: relative;
    border-radius: 20px;
    left: 5%;
    top: 10rem;
    margin: 0px;
    background-color: rgb(13, 130, 207);
    width: 40rem;
    padding: 20px;
}
